<div class="content">
  <div class="right-badge">
    <span>Add New Category</span>
  </div>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>
            * Name
          </label>
          <input type="text"
                 formControlName="name"
                 class="form-control"
                 placeholder="Web Development">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>
            Active
          </label>
          <div class="col-12 mt-1">
            <label class="switch customSwitch">
              <input type="checkbox" formControlName="isActive">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12  pt-4">
        <button class="btn btn-success btn-block"
          [disabled]='form.status != "VALID"'
                (click)="add()">
          Add
        </button>
      </div>
    </div>
  </form>
</div>
