<div class="content">
  <div class="right-badge">
    <span>Add New Category</span>
  </div>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>
            Active
          </label>
          <div class="col-12 mt-1">
            <label class="switch customSwitch">
              <input type="checkbox" formControlName="isActive">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>
            * level
          </label>
          <select formControlName="level" class="form-control" matNativeControl required>
            <option value="beginner">beginner</option>
            <option value="immediate">immediate</option>
            <option value="high">high</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>
            * Category
          </label>
          <select *ngIf="categories" formControlName="categoryId" class="form-control" matNativeControl required>
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>
            * Name
          </label>
          <input type="text"
                 formControlName="name"
                 class="form-control"
                 placeholder="Html">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label>
            * Hours
          </label>
          <input type="number"
                 formControlName="hours"
                 class="form-control"
                 placeholder="120">
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label>
            * Description
          </label>
          <textarea style="height: auto" rows="5" formControlName="description" class="form-control"
                    placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry"></textarea>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12  pt-4">
        <button class="btn btn-success btn-block"
                [disabled]='form.status != "VALID"'
                (click)="edit()">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
