<div class="modal-dialog modal-confirm">
  <div class="modal-content">
    <div class="modal-header flex-column">
      <h4 class="modal-title w-100">Are you sure?</h4>
    </div>
    <div class="modal-body">
      <p>Do you really want to delete these records? This process cannot be undone.</p>
    </div>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-secondary" [mat-dialog-close]="{delete:false}">Cancel</button>
      <button type="button" class="btn btn-danger" [mat-dialog-close]="{delete:true}">Delete</button>
    </div>
  </div>
</div>
