@import url('https://fonts.googleapis.com/css2?family=Poppins');

.main {
  padding: 100px 300px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}

button:disabled:hover {
  background: #575962;
}

button:disabled {
  cursor: not-allowed;
}

#navbarMenu {
  width: 100%;
  justify-content: flex-end;
}

button:focus {
  outline: none;
}

.form-badge {
  position: absolute;
  right: 15px;
  padding: 5px 15px;
  border-radius: 8px 8px 0 8px;
  top: -15px;
  min-width: 130px;
  color: white;
  background: rgba(20, 169, 155, 1);
}

.right-badge {
  position: absolute;
  right: 0;
  padding: 5px 15px;
  border-radius: 8px 8px 0 8px;
  top: -15px;
  width: auto;
  color: white;
  background: rgba(20, 169, 155, 1);
}

.left-badge {
  position: absolute;
  left: 0;
  padding: 5px 15px;
  border-radius: 8px 8px 0 8px;
  top: -15px;
  width: auto;
  color: white;
  background: rgba(20, 169, 155, 1);
}

.left-badge-search {
  position: absolute;
  left: 0;
  top: -15px;
  min-width: 285px;
}

.left-badge-search input {
  width: 100%;
  color: white;
  background: #14A99B;
  padding: 10px 20px;
  border: none;
  border-radius: 15px 15px 15px 0;
}

.login-center {
  margin-top: 10%;
}

.form {
  border-radius: 8px;
  padding: 60px 40px;
  background: #F2F2F2;
  border: 1px solid #DFE3E6;
}

.form-control {
  height: 50px;
  border: 1px solid #0D7F97;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #004977;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 2px;
}

.forget-password {
  color: rgba(0, 61, 100, .5);
  font-size: 14px;
}

header {
  width: calc(100% - 260px);
  padding: 10px 0;
  background: rgba(0, 61, 100, 1);
  float: right;
}

.btn {
  min-width: 145px;
}

.btn-success {
  background: #004977;
  font-size: 18px;
  color: white;
  height: 55px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-btn {
  min-width: initial !important;
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backBtn {
  width: 43px;
  height: 43px;
  background: #F3F7F9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 61, 100, .5);
  position: absolute;
  right: 0;
}

.logout {
  color: rgba(0, 61, 100, 1);
}

.uploadFileBtn {
  background: #003D64;
  color: white;
}

.modal-upload-file-btn {
  border: 1px solid #0D7F97;
}

.btn-default {
  background: #575962;
  font-size: 18px;
  color: white;
  height: 55px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-default:hover, .btn-success:hover {
  color: white;
  background: #004977;
}

.loginBtn {
  height: 60px;
  background: #0D7F97;
  color: white;
  font-size: 18px;
}

.noAccount {
  color: #004977;
  font-size: 14px;
  margin-left: 5px;
}

.dropdownMenuLink {
  display: flex;
  cursor: pointer;
}

.loginBottom {
  width: 100%;
}

.userName {
  color: rgba(255, 255, 255, .8);
  font-size: 14px;
}

.createAccount {
  color: #14A99B;
  font-size: 14px;
}

.form .submit-btn {
  width: 100%;
}

.chart {
  padding: 4rem;
}

.custom-container {
  width: 1140px;
}

.main {
  float: right;
  width: calc(100% - 260px);
  padding: 40px 20px;
}

.search {
  position: relative;
  padding-right: 0;
}

.search input, .search input:focus {
  border: none;
}

.search input::placeholder {
  color: rgba(255, 255, 255, .9) !important;
  opacity: 1; /* Firefox */
}

.search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, .9) !important;
}

.search input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, .9) !important;
}

.messages {
  margin-left: 20px;
  cursor: pointer;
  transition: .2s all ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.count {
  position: absolute;
  left: -10px;
  top: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  font-size: 14px;
  background: #EA5B5B;
  color: white;
}

.personal {
  margin-right: 2rem;
}

.personal .down-arrow {
  width: 10px;
  position: relative;
  top: 2px;
}

.personal .user-name {
  font-size: 14px;
}

.personal .dropdown-menu a {
  padding: 10px 0 !important;
  padding-right: 15px !important;
  font-size: 14px;
  color: rgba(0, 61, 100, .8);
}

.personal .dropdown-menu .dropdown-item img {
  margin-left: 10px;
}

.personal .dropdown .arrow {
  transform: rotate(-90deg);
}

.personal .dropdown.show .arrow {
  transform: rotate(-9deg);
}

.personal .dropdown-menu.show {
  top: 30px !important;
}

.personal .dropdown-menu.show:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: -7px;
  left: 6px;
  transform: rotate(45deg);
  border-radius: 4px;
  z-index: -1;
  background: white;
}

a:focus {
  outline: none;
}

.content {
  padding: 25px 20px 20px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 80px;
  background: #F2F2F2;
}

.deptor-data {
  color: rgba(0, 73, 119, .5);
}

.deptor-data .details {
  margin-top: 13px;
}

.deptor-data .table-sub-title {
  margin-bottom: 10px;
}

.content .table-title {
  color: #003D64;
}

.table-value {
  color: rgba(0, 61, 100, .5);
  font-size: 14px;
}

.deptor-name {
  font-size: 30px;
  color: #16448D;
  margin-bottom: 8px;
}

.content .table-sub-title {
  font-size: 1rem;
}

.left-search input:focus {
  outline: none;
}

.left-search input::placeholder {
  color: rgba(255, 255, 255, .9) !important;
  opacity: 1; /* Firefox */
}

.left-search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, .9) !important;
}

.left-search input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, .9) !important;
}

.left-search .wrapper {

}

.left-search .icon {
  position: absolute;
  right: 15px;
  top: 28%;
}

.table-sub-title {
  font-size: .825rem;
}

.table-action-btn {
  float: left;
  background: #14A99B !important;
  color: white !important;;
  padding: 15px;
  border-radius: 4px;
}

.personal .dropdown-menu.show {
  transform: translate3d(25px, 25px, 0px) !important;
}

.personal.notifications .dropdown-menu.show {
  transform: translate3d(134px, 15px, 0px) !important;
}

.dropdown-menu .hr {
  width: 80%;
  margin: 0 auto;
  height: 1px;
  background: rgba(0, 61, 100, .1);
}

.sb.active {
  background: #0AB39C;
  color: white !important;
}

.chart-hints {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 15px;
}

.chart-hints .color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 10px;
  position: relative;
  top: 3px;
}

.search .placeholder {
  position: absolute;
  left: 40px;
  top: 20%;
}

.color.in-progress {
  background: rgba(0, 61, 100, 1);
}

.color.completed {
  background: rgba(241, 101, 72, 1)
}

.color.total {
  background: rgba(10, 179, 156, 1)
}

.chart-hints .hint {
  margin-bottom: 25px;
}

.chartContainer .download-data-btn {
  margin-top: 25px;
}

.reports-content {
  padding-top: 30px;
  margin-bottom: 50px;
}

.reports-select-month {
  margin-bottom: 15px;
}

.download-data .content {
  padding: 15px !important;
}

.download-data .btn {
  padding: 10px 30px;
  float: left;
}

.warning {
  height: 100%;
}

.mobile {
  direction: ltr;
}

.mobile input {
  padding-left: 55px;
}

.mobile .placeholder {
  position: absolute;
  left: 5px;
  top: 8px;
}

.mobile .placeholder select {
  border: none;
  background: transparent;
  width: auto;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000;
}

.mobile .placeholder .vr {
  height: 40px;
  width: 2px;
  top: 3px;
  position: absolute;
  right: -8px;
}

.placeholder.add, .placeholder.remove {
  position: absolute;
  left: 10px;
  top: 45px;
  width: auto;
  cursor: pointer;
}

.modal-header {
  border: none;
  display: block;
  text-align: left;
}

.modalTitle {
  font-size: 25px;
  color: #0D7F97;
}

.modal .table-sub-title {
  color: rgba(0, 61, 100, .6);
}

.modal .table-title {
  color: #003D64;
}

.modal-upload-file-btn {
  padding: 10px;
  border-radius: 10px;
}

.modal-upload-file-btn button {
  padding: 10px 20px;
}

.raiseOrder {
  text-align: left;
  padding-left: 30px;
}

.courtSelect {
  border: 1px solid #DFE3E6;
}

.eflas-modal-title {
  font-size: 25px;
}

.selectType .btn {
  margin-left: 15px;
}

.selectType .btn {
  border: 1px solid #0D7F97;
  border-radius: 4px;
  background: white;
  color: rgba(0, 61, 100, .5);
}

.selectType .btn.active {
  background: rgba(0, 61, 100, 1);
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

button.close {
  float: left;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -10px;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-text {
  font-size: .75rem;
}

.statuses-section {
  border-radius: 5px;
  background: white;
  display: inline-flex;
  overflow-x: auto;
  border: 1px solid #DFE3E6;
}

.statuses-section::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.statuses-section, html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.statuses-section ul {
  border: none;
}

.statuses-section .nav {
  flex-wrap: nowrap;
}

.status {
  padding: 10px 20px;
  background: rgba(223, 227, 230, .5);
  border-radius: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #004977;
  font-size: 14px;
}

.status.active {
  background: #003D64;
  color: white;
}

.wrapper {
  padding: 20px;
}

.bolder {
  font-weight: bold;
}

.chart .box {
  background: white;
  border-radius: 5px;
  border: 1px solid #DFE3E6;
  padding: 15px;
}

.chart .box img {
  position: relative;
  top: 5px;
  margin-left: 4px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  top: 4px;
  margin-left: 4px;
}

.dot.blue {
  background: #004977;
}

.dot.orange {
  background: #F16548;
}

.dot.yellow {
  background: #F1963A;
}

.dot.green {
  background: #0AB39C;
}

.tag {
  padding: 0 4px;
  border-radius: 5px;
}

.checkbox input {
  margin-left: 4px;
  position: relative;
  top: 2px;
}

.form #email, .form #password {
  direction: ltr;
}

.debtor_object {
  border: 1px solid #0D7F97;
  border-radius: 4px;
  background: white;
  color: rgba(0, 61, 100, .5);
  padding: 10px 0;
  margin-left: 12px;
}

.debtor_object.active {
  background: rgba(0, 61, 100, 1);
  color: white;
}

.commercial_register input {
  padding-left: 40px !important;
}

.proceedOrderBtn {
  background: #004977;
  color: white;
  padding: 10px 20px;
}

.proceedOrderBtn:hover {
  color: white;
}

.proceedOrderRow .btn {
  background: #eee;
  border-radius: 10px;
  color: #00105C;
  padding: 10px 20px;
}

.reRemindModalBtn, .absherModalSubmitBtn {
  background: #0D7F97;
  color: white;
}

.cancelRemindModalBtn {
  background: #575962;
  color: white;
}

.modal-header .close {
  padding: .25rem 1rem;
}

.content form {
  margin-top: 30px;
}

.switchDesc {
  font-size: 10px;
}

.unselectFile {
  color: #721c24;
  cursor: pointer;
}

.selectedFile {
  margin: 20px 0;
}

.proceedOrderRow {
  height: 400px;
  overflow-y: auto;
}

.proceedOrderRow .row {
  margin-bottom: 10px;
}

.proceedOrderRow input {
  margin-left: 15px;
}

.proceedOrderRow .col-12 {
  margin-bottom: 20px;
}


.proceedOrderBtn {
  font-size: 14px;
  margin-top: 15px;
}

.views {
  display: none;
}

.all-views .row div {
  margin-bottom: 15px;
}

.tree {
  background: #EDEEEF;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 35px;
  border-radius: 8px;
}

.tree img {
  width: 100%;
}

.download-data-btn, .download-data-btn:hover {
  background: #004977;
  color: white;
  font-size: 14px;
  min-width: initial;
}

.downloadContainer {
  align-items: flex-end;
}

.downloadContainer .chartContainer {
  margin-bottom: 25px;
}

.download-data-btn:hover {
  background: #004977;
  color: white;
}

.inFormUploadFileBtn {
  height: 100%;
}

.inFormUploadFileBtnContainer {
  height: 50px;
  padding: 5px 10px;
  color: #004977;
  font-size: 14px;
}

.inFormUploadFileBtn {
  padding: 5px !important;
  height: 100%;
  font: normal normal bold 16px/0 'SST-Bold';
}

.deleteFile {
  cursor: pointer;
}

.deleteFile:hover {
  color: #004977;
}

.reRemindModalBtn {
  margin-bottom: 10px;
}

.requestSelect {
  border: 1px solid #DFE3E6;
  color: rgba(0, 61, 100, .5);
}

.selectTypeNewRequest .nav-link {
  cursor: not-allowed;
}

.selectTypeNewRequest .disabled {
  background: #e9ecef;
}

.queryModalTitle {
  color: #0D7F97;
  font-size: 25px;
}

.queryModalText {
  color: #003D64;
}

.modal-header {
  padding: 0;
}

.absherModalTitle {
  color: #0D7F97;
  font-size: 25px;
}

.absherModalText {
  text-align: center;
  color: #004977;
}

#debtor_otp_code {
  border: 1px solid #0D7F97;
  margin-top: 25px;
}

.trusteeFilters .statuses-section {
  display: flex;
}

.proceedOrderTitle {
  color: #0D7F97;
  font-size: 25px;
  margin-bottom: 40px;
}

.chart-padding {
  padding-left: 8px;
  padding-right: 8px;
}

.chart-padding .col-md-7 {
  padding-left: 0;
}

/**/
.hint {
  font-size: 12px;
  color: #003D64;
}

.chart-hints .value {
  color: #666666;
  font-size: 14px;
}

.table-value.table-sub-value {
  color: #003D64;
  font-size: 16px;
}

.table-value {
  color: rgba(0, 73, 119, .5);
}

.table-action-btn:hover {
  color: white;
  background: #004977;
}

.deptor-data .table-sub-title {
  margin-bottom: 19px;
}

.deptor-name {
  margin-bottom: 16px;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: 0rem -1rem -1rem auto;
}

.modal-body img {
  margin-bottom: 10px;
}

.modal .modalTitle {
  margin-bottom: 25px;
}

.modal .table-sub-title {
  color: rgba(0, 73, 119, .6);
  font-size: 16px;
}

.modal .table-title {
  color: rgba(0, 73, 119, 1);
  font-size: 16px;
}

#remindModal .modal-dialog {
  max-width: 400px;
}

.reports-content {
  background: #F2F2F2;
  border-radius: 8px;
  margin-bottom: 25px;
}

.reports-content .right-badge {
  background: #14A99B;
  border-radius: 14px 14px 0 14px;;
}

.chartContainer {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
}

.reports-select-month {
  width: 95px;
  height: 32px;
  font-size: 12px;
  border: 1px solid #DFE3E6;
  color: rgba(0, 73, 119, .5);
  padding-top: 0;
  background: white;
}

.reports-date-input {
  width: 200px;
  height: 32px;
  font-size: 12px;
  border: 1px solid #DFE3E6;
  color: rgba(0, 73, 119, .5);
  padding-top: 0;
  background: white !important;
  margin-bottom: 30px;
  text-align: center;
}

.reports-date-input-v2 {
  position: relative;
}

.reports-date-input-v2 button {
  width: 95px !important;
  min-width: initial !important;
  font-size: 12px !important;
  border: 1px solid #DFE3E6 !important;
  color: rgba(0, 73, 119, .5) !important;
  border-radius: 5px !important;
  text-align: right !important;
}

.reports-date-input-v2 button .title {
  position: relative;
  top: -2px;
  margin-right: 0 !important;
}

.reports-date-input-v2-arrow {
  position: absolute;
  left: 10px;
  top: 15px;
  z-index: 2;
}

.vsb-menu .multi li:before, .vsb-menu .multi li:after {
  display: none !important;

}

.vsb-menu .multi li.active {
  background: #003D64;
  color: white;
}

.vsb-menu {
  text-align: right;
}

.vsb-menu .multi {
  max-width: initial !important;
  min-width: initial !important;
}

.vsb-menu .multi li {
  padding: 0.2em .75em 0.2em 26px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 12px !important;
}

.reports-date-input-v2 button .caret {
  display: none;
}

.reports.total-section {
  background: #F2F2F2;
  border: 1px solid #DFE3E6;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.reports.total-section img {
  width: 45px;
}

.reports.total-section .text {
  color: #003D64;
}

.reports.total-section .value {
  color: #004977;
  font-size: 26px;
}

.reports.total-section .unit {
  color: rgba(0, 61, 100, .5);
}

.download-chart-data img {
  width: 40px;
}

.trusteeFilters {
  align-items: center;
}

.trusteeFiltersLeftSection {
  justify-content: center;
  align-items: center;
  display: flex;
}

.requestSelect {
  font-size: 14px !important;
  height: 100% !important;
}

.notifications a {
  color: rgba(0, 61, 100, 1) !important;;
  font-size: 14px;
}

.notifications .date {
  color: rgba(0, 61, 100, .5) !important;;
  font-size: 12px;
}

form .warning {
  margin-bottom: 35px;
}

.reports-date-input::-webkit-inner-spin-button,
.reports-date-input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.daterangepicker .drp-buttons .btn {
  display: inline-flex;
  height: initial;
  min-width: initial !important;
}

.top-page {
  margin-bottom: 80px;
}

.notValid {
  cursor: not-allowed !important;
}

.loading-overlay {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9998;
  align-items: center;
  justify-content: center;
  display: flex;
}

.loading-overlay.is-active {
  display: flex;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 10px !important;
}

.green {
  color: green;
}

.red {
  color: red;
}

/**/
@media (max-width: 1399px) {
  .chartContainer {
    width: 100px;
  }
}

@media (max-width: 1280px) {
  .chart-hints .value {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .chart-padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  .downloadContainer {
    align-items: center;
  }

  .chart-padding .col-md-7 {
    padding-left: 15px;
  }

  .requestSelect {
    font-size: 12px !important;
  }

  .trusteeFilters .requestSelect {
    margin: 15px 0;
  }

  .search {
    padding-right: 15px;
  }

  .main {
    width: 100%;
    padding: 40px 0;
  }

  .query-inbox-right-badge {
    display: none;
  }

  .download-data .col-12 {
    text-align: center;
    margin-bottom: 10px;
  }

  .download-data .btn {
    float: initial;
  }

  .navbar-toggler {
    color: #fff;
    border-color: #fff;
    padding: 10px 14px;
  }

  header {
    width: 100%;
  }

  .navbar .navbar-brand {
    display: block !important;
  }

  .navbar-collapse.show {
    margin-top: 40px;
  }

  .nav-item {
    margin-bottom: 15px;
  }

  .navbar-nav .dropdown-menu {
    position: initial !important;
  }

  .dropdown-menu.show, .personal .dropdown-menu.show, .personal.notifications .dropdown-menu.show {
    position: absolute !important;
    transform: initial !important;
  }

  .personal {
    margin-right: 1rem !important;
  }

  .tree-container {
    display: none;
  }

  .statuses-section {
    width: 100%;
  }

  .statuses-section .status {
    margin: 5px 20px;
  }

  .hide-on-mobile {
    display: none;
  }

  .table-title {
    font-size: 12px;
  }

}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
